<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/styles/style.css">

    <title>{{.Title}}</title>
</head>
<body>
	
    <div id="main">
        <h2>
            {{if .Schedule.IsEven}}
                Even week
            {{else}}
                Not even week
            {{end}}
        </h2>

        <div id="week">
            {{range $.Schedule.Week}}
                <table>
                    <tr>
                        <th colspan="4">{{.Number | dayTimeFormatter}}, {{.Name}}</th>
                    </tr>
                    
                    {{if .IsHoliday}}
                        <tr>
                            <th>We don't study on this day.</th>
                        </tr>
                    {{else}}
                        <tr>
                            <th>Time</th>
                            <th>Name</th>
                            <th>Lecture</th>
                            <th>Hall</th>
                        </tr>

                        {{if $.Schedule.IsEven}}
                            {{range .EvenWeekLessons}}
                                <tr>
                                    <td>{{.TimeBegin | lessonTimeFormatter}} - {{.TimeEnd | lessonTimeFormatter}}</td>
                                    <td>{{.Name}}</td>
                                    <td>{{.IsLecture}}</td>
                                    <td>{{.WhereIs}}</td>
                                </tr>
                            {{end}}
                        {{end}}
                    {{end}}
                </table>
            {{end}}
        </div>
    </div>

</body>
</html>
